In [1]:
import numpy as np
import pandas as pd
from openbb import obb
obb.user.preferences.output_type = "dataframe"

In [3]:
df = obb.equity.price.historical(
    "AAPL",
    start_date="2020-07-01",
    end_date="2023-07-06",
    provider="yfinance",
)

In [4]:
calendar_dates = pd.date_range(
    start=df.index.min(),
    end=df.index.max(),
    freq="D"
)

In [6]:
calendar_prices = df.reindex(calendar_dates)

In [7]:
calendar_prices

,open,high,low,close,volume,split_ratio,dividend
2020-07-01,91.279999,91.839996,90.977501,91.027496,110737200.0,0.0,0.0
2020-07-02,91.962502,92.617500,90.910004,91.027496,114041600.0,0.0,0.0
2020-07-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
2023-07-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-03,193.779999,193.880005,191.759995,192.460007,31458200.0,0.0,0.0
2023-07-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2023-07-05,191.570007,192.979996,190.619995,191.330002,46920300.0,0.0,0.0
2023-07-06,189.839996,192.020004,189.199997,191.809998,45094300.0,0.0,0.0

In [8]:
# Replace nan values with the next valid observation

In [9]:
calendar_prices.bfill()

,open,high,low,close,volume,split_ratio,dividend
2020-07-01,91.279999,91.839996,90.977501,91.027496,110737200.0,0.0,0.0
2020-07-02,91.962502,92.617500,90.910004,91.027496,114041600.0,0.0,0.0
2020-07-03,92.500000,93.945000,92.467499,93.462502,118655600.0,0.0,0.0
2020-07-04,92.500000,93.945000,92.467499,93.462502,118655600.0,0.0,0.0
2020-07-05,92.500000,93.945000,92.467499,93.462502,118655600.0,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-02,193.779999,193.880005,191.759995,192.460007,31458200.0,0.0,0.0
2023-07-03,193.779999,193.880005,191.759995,192.460007,31458200.0,0.0,0.0
2023-07-04,191.570007,192.979996,190.619995,191.330002,46920300.0,0.0,0.0
2023-07-05,191.570007,192.979996,190.619995,191.330002,46920300.0,0.0,0.0
2023-07-06,189.839996,192.020004,189.199997,191.809998,45094300.0,0.0,0.0

In [11]:
# ffill to propagate the last valid observation forward
calendar_prices.ffill()

,open,high,low,close,volume,split_ratio,dividend
2020-07-01,91.279999,91.839996,90.977501,91.027496,110737200.0,0.0,0.0
2020-07-02,91.962502,92.617500,90.910004,91.027496,114041600.0,0.0,0.0
2020-07-03,91.962502,92.617500,90.910004,91.027496,114041600.0,0.0,0.0
2020-07-04,91.962502,92.617500,90.910004,91.027496,114041600.0,0.0,0.0
2020-07-05,91.962502,92.617500,90.910004,91.027496,114041600.0,0.0,0.0
...,...,...,...,...,...,...,...
2023-07-02,191.630005,194.479996,191.259995,193.970001,85069600.0,0.0,0.0
2023-07-03,193.779999,193.880005,191.759995,192.460007,31458200.0,0.0,0.0
2023-07-04,193.779999,193.880005,191.759995,192.460007,31458200.0,0.0,0.0
2023-07-05,191.570007,192.979996,190.619995,191.330002,46920300.0,0.0,0.0
2023-07-06,189.839996,192.020004,189.199997,191.809998,45094300.0,0.0,0.0